# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/

# Build Output
dist/
build/
.vite/

# Remix Specific
public/build/

# Environment Variables
.env
.env.*.local

# Editor Directories and Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency Directory for Yarn (Pnp)
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
.pnp.*
.yarnrc.yml

# Production Dependencies for Yarn (Zero-Installs)
!.yarn/cache/
!.yarn/unplugged/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Mac System Files
.DS_Store

# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux/Mac Temporary Files
*.swp
*.sw~

# Testing
coverage/
*.lcov

# Miscellaneous
.sass-cache/
.cache/
.parcel-cache/
*.pid

# Local Build Artifacts
*.tgz
*.lock-wscript

# React Native
.expo/
.expo-shared/

# Remix Live Reload Cache
.live-reload/

# Git Ignore Directories for Cloud Services
.aws-sam/
.firebase/
.netlify/
.serverless/

# Storybook
storybook-static/

# Debug
debug/
*.stackdump

# Local npm link directories
*/node_modules/
packages/**/node_modules/
